langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langgraph
langgraph-checkpoint-mongodb
pymongo
pydantic
sentence-transformers
pandas
faiss-cpu
requests
Flask
Flask-Cors
PyJWT
numpy
scikit-learn
python-dotenv
pypdf
firebase-admin
chromadb
transformers
torch
